* {
  box-sizing: border-box;
}

html {
  fallback-fonts: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro,
    Meiryo, MS Gothic, sans-serif;
  background-color: #181818;
}

body {
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, var(fallback-fonts, sans-serif),
    sans-serif;
  -webkit-font-smoothig: antialiased;
  background-color: #222223;
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: #1d1d1d;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(86, 86, 86);
  outline: 1px solid rgb(43, 43, 43);
}

.cardText {
  margin-top: -10%;
}

h1:target {
  padding-top: 50px;
}

.nav-rib {
  background-color: rgb(20, 20, 20);
  width: 100%;
  opacity: 0.5;
}

.side-nav {
  background-color: rgb(10, 10, 10);
  margin-top: -4%;
  margin: 0;
}

.div-side-nav {
  height: 10000px;
  width: 220px;
}

.playlistTitle {
  text-align: center;
  margin-left: 200px;
  margin-top: 3%;
  padding-top: 5%;
}

.track-title {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  word-break: break-word;
  overflow: hidden;
  text-align: left;
  color: #e6e3e3;
  width: 100%;
  line-height: normal;
  font-size: 6rem;
  display: grid;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: border-box;
  margin-block: 0px;
}

h1.track-title {
  unicode-bidi: isolate;
}

.track-card-title-span {
  overflow: hidden;
  text-align: left;
  word-break: break-word;
  line-height: normal;
}

span.track-card-title-span {
  unicode-bidi: isolate;
  -webkit-user-drag: element;
}

.card-deck * {
  pointer-events: none;
}

/*
                                          #bg-img {
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-clip: border-box;
                                            background-position: center;
                                          }
*/

.results {
  position: relative;
  left: 190px;
  top: 130px;
  column-width: 100%;
  height: 100%;
  background-color: #0c0c0c;
}

.playlist-img {
  position: relative;
  left: 18px;
  top: 15px;
}

.playlist-title {
  position: relative;
  top: 30px;
}

.playlist-description {
  color: #b3b3b3;
  position: relative;
  top: 30px;
  font-size: 14px;
  font-weight: 500;
}

.playlist-section {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 40px;
  background: transparent;
  background-color: #0c0c0c;
  bottom: 200px;
  row-gap: 100px;
}

.category-title {
  color: white;
  position: relative;
  left: 60px;
  text-align: left;
  top: 320px;
  font-size: 100px;
  font-weight: 800;
}

.category-description {
  color: white;
  position: absolute;
  top: 180px;
  left: 70px;
  font-weight: 750;
  font-family:
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    sans-serif
}

span {
  font-size: 14px;
  color: #b3b3b3;
  display: flex;
}


.bg {
  position: relative;
  height: 450px;
  width: 100%;
  background-color: rgba(0, 0, 0);
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.437), black); */
  bottom: 300px;
}

.card-deck:hover {
  background-color: rgb(34, 34, 34) !important;
}

.play-icon {
  position: relative;
  bottom: 150px;
  left: 130px;
}

.tippy-box[data-theme~="tomato"] {
  background-color: blue;
  color: yellow;
}
/* finally */
.tippy-box[data-theme~="tomato"][data-placement^="bottom"]
  > .tippy-arrow::before {
  color: blue;
}
