* {
  box-sizing: border-box;
}

html {
  fallback-fonts: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro,
    Meiryo, MS Gothic, sans-serif;
  }

body {
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, var(fallback-fonts, sans-serif),
    sans-serif;
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothig: antialiased;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: #1d1d1d;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(86, 86, 86);
  outline: 1px solid rgb(43, 43, 43);
}

.parent-of-all {
  position: relative;
}

.whole-card {
  background-color: rgb(31, 31, 31);
}

.cardText {
  margin-top: -10%;
}

h1:target {
  padding-top: 50px;
}

.nav-rib {
  background-color: rgb(20, 20, 20);
  width: 100%;
  opacity: 0.5;
}

.side-nav {
  background-color: rgb(10, 10, 10);
  margin-top: -4%;
  margin: 0;
}

.div-side-nav {
  height: 10000px;
  width: 220px;
}

.playlistTitle {
  text-align: center;
  margin-left: 200px;
  margin-top: 3%;
  padding-top: 5%;
}

.details {
  margin-top: 8%;
  margin-left: 0.1%;
  display: flex;
}

.company,
.community,
.external {
  width: 12%;
  display: inline-block;
}

.community {
  margin-left: 3%;
}

.external {
  margin-left: 5%;
}

.li-tings:hover {
  text-decoration: underline;
  color: white;
}

.playlists,
.albums,
.podcasts,
.tracks,
.top-results {
  margin: -50px;
}

.all-tracks-playlists,
.all-tracks-albums,
.all-tracks-podcasts,
.all-tracks {
  text-decoration: underline;
  margin-left: 108%;
}

.card-deck:hover {
  background-color: rgb(48, 48, 48);
}

#playlists-title:hover {
  color: aqua;
}

.play-icon {
}

/*
                                                               .albums-play-icon,
                                                               .podcasts-play-icon {
                                                                   margin-left: 120px;
                                                                   margin-top: -150px;
                                                               }
                                                               
                                                               .tracks-play-icon {
                                                                   margin-left: 140px;
                                                                   margin-top: -110px;
                                                               }
                                                               */
.options-icon {
}

.time-icon {
  text-align: right;
}

/*
                                                               .track-img {
                                                                   filter: blur(10px);
                                                                   -webkit-filter: blur(150px);
                                                               }
                                                               */

#playlist-img {
  padding: 3rem;
  margin: 1rem;
}

#playlist-img img {
  width: 400px;
}

.track-bg {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-end;
  z-index: 0;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: end;
}

.track-title {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  word-break: break-word;
  overflow: hidden;
  text-align: left;
  color: #e6e3e3;
  width: 100%;
  line-height: normal;
  font-size: 6rem;
  display: grid;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: border-box;
  margin-block: 0px;
}

h1.track-title {
  unicode-bidi: isolate;
}

.track-card-title-span {
  overflow: hidden;
  text-align: left;
  word-break: break-word;
  line-height: normal;
}

span.track-card-title-span {
  unicode-bidi: isolate;
  -webkit-user-drag: element;
}

.card-deck * {
  pointer-events: none;
}

.card-deck {
  width: 198.88px;
  height: 198.88px;
  display: flex;
  /*pick up proper colours*/
  /*position them all properly. DONE!*/
}

/*
                                                               #bg-img {
                                                                 background-repeat: no-repeat;
                                                                 background-size: cover;
                                                                 background-clip: border-box;
                                                                 background-position: center;
                                                               }
                                          */

.favorite-icon:hover {
  color: whitesmoke;
}

.hidden {
  display: none;
}

.result-list {
  color: white;
  display: flex;
}

.results {
  /* margin-left: 190px; */
  /* margin-top: 130px; */
  display: flex;
  flex-wrap: wrap;
  column-width: 100%;
  flex-direction: row;
  position: relative;
  left: 200px;
  height: fit-content;
}

.results {
    position: relative;
    width: 100%;
}

.results {}

.category-img {
}

.category-title {
  box-sizing: border-box;
  margin-block: 0px;
  position: relative;
  top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: var(
    font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(fallback-fonts, sans-serif)
  );
  color: white;
}

.playlist-details {
  width: max-content;
  position: relative;
  left: 50px;
  top: 50px;
  text-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.details-bg {
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  filter: contrast(100%);
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients
  https://getcssscan.com/css-box-shadow-examples
  */
  height: 2000px;
}

.playlist-img {
  height: 232px;
  width: 232px;
  position: relative;
  top: 10px;
  left: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.playlist-title {
  position: relative;
  left: 270px;
  bottom: 170px;
  font-weight: bold;
  font-size: 80px;
  width: 800px;
}

.playlist-description {
  position: relative;
  left: 280px;
  bottom: 140px;
  width: 800px;
}

.playlist-total-song-num {
  position: relative;
  left: 280px;
  bottom: 150px;
  width: 100px;
}

.playlist-string {
  color: white;
  position: relative;
  left: 280px;
  top: 75px;
  width: 100px;
}

.icons-bg {
  /* FONT-VARIANT: JIS04; */
  animation: none;
  left: 90px;
  width: 100%;
  position: relative;
  /* display: flex; */
  height: 100%;
  border-bottom-style: none;
  justify-content: space-around;
  border: 0px;
  bottom: 1650px;
  /* border-bottom: 0px; */
}

.icons-section {
  position: relative;
}

.tracks-bg {
  width: 100%;
  position: relative;
  bottom: 1650px;
  margin-left: 170px;
  border-top-style: none;
  box-sizing: border-box;
}

.tracks-bg {
    width: 100%;
    height: 100%;
}

.play-icon-div {
  /* fix em with margins */
  position: relative;
  left: 150px;
  display: inline;
}

.favourite-icon {
  /* fix em with margins */
  position: relative;
  left: 180px;
  display: inline;
}

.options-icon {
  /* fix em with margins */
  position: relative;
  left: 210px;
  display: inline;
}

.tracks {
  position: relative;
  display: grid;
  grid-gap: 10px;
  flex-wrap: wrap;
  left: 150px;
  top: 110px;
  height: 100%;
}

.track {
  position: relative;
  right: 30px;
  height: 60px;
  width: 100%;
  border-radius: 5px;
}

.track:hover {
  background-color: #303030;
}

.track-number {
  position: relative;
  right: 30px;
  top: 10px;
  font-size: 16px;
  display:inline-block;
  box-sizing: border-box;
}

.track-img {
  height: 50px;
  width: 50px;
  position: relative;
  top: 5px;
  left: 50px;
}

.album-title {
  position: relative;
  left: 790px;
  bottom: 55px;
  width: 300px;
  font-size: 14px;
}

.track-name {
  position: relative;
  left: 110px;
  bottom: 40px;
  width: 500px;
  font-size: 16px;
}

.artist {
  position: relative;
  left: 110px;
  bottom: 118px;
  width: 500px;
  font-size: 14px;
}

.release-date {
  position: relative;
  left: 1245px;
  bottom: 80px;
  width: 100px;
  font-size: 14px;
}

.duration {
  position: relative;
  left: 1645px;
  bottom: 105px;
  width: 10px;
  font-size: 14px;
}

span {
  font-size: 14px;
  color: #b3b3b3;
  display: flex;
}

a:hover span, a:hover path {
  color: white;
  fill: white;
}

/* workout the font-sizes first, and then height of the track div */

em {
  font-size: 13.5px;
  font-style: normal;
  font-weight: 500;
  top: 20px;
}

.tippy-box[data-theme~="tomato"] {
  background-color: blue;
  color: yellow;
}
/* finally */
.tippy-box[data-theme~="tomato"][data-placement^="bottom"]
  > .tippy-arrow::before {
  color: blue;
}