* {
  box-sizing: border-box;
}

html {
  --fallback-fonts: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro,
    Meiryo, MS Gothic, sans-serif;
}

body {
  background: linear-gradient(to top right, rgb(21, 21, 21), rgb(34, 34, 34));
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif),
    sans-serif;
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothig: antialiased;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

body::-webkit-scrollbar {
  width: 0.8em;
  background-color: #1d1d1d;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(86, 86, 86);
  outline: 1px solid rgb(43, 43, 43);
}

main {
  position: relative;
  left: 220px;
}

.playlist {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 105%;
  bottom: 70px;
}

span {
  font-size: 14px;
  color: #b3b3b3;
  display: flex;
}

a:hover span, a:hover path {
  color: white;
  fill: white;
}

.whole-card {
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.playlists-description {
  font-size: 14px;
  font-weight:550;
  color: #838181;
  position: relative;
}

.playlist-title {
  color: #e6e3e3;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

.cardText {
  position: relative;
  bottom: 5%;
  overflow:hidden;
}

h1:target {
  padding-top: 50px;
}

.nav-rib {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  width: 91.6%;
}

.side-nav {
  background-color: rgb(0, 0, 0);
}

.div-side-nav {
  height: 100vh;
  -webkit-box-direction: normal;
  justify-content: space-around;
  
}

.playlistTitle {
  text-align: center;
  padding-top: 5%;
  position: relative;
  right: 30px;
}

li {
  display: inline-block;
}


.details {
  margin-top: 8%;
  margin-left: 0.1%;
  display: flex;
}

.company,
.community,
.external {
  width: 12%;
  display: inline-block;
}

.community {
  margin-left: 3%;
}

.external {
  margin-left: 5%;
}

.li-tings:hover {
  text-decoration: underline;
  color: white;
}


.all-tracks-playlists,
.all-tracks-albums,
.all-tracks-podcasts,
.all-tracks {
  text-decoration: underline;
  margin-left: 108%;
}

.card-deck:hover {
  background-color: rgb(48, 48, 48);
  transition: 0.3s;
}

#playlists-title:hover {
  color: aqua;
}

p:hover {
  text-decoration: underline;
}

.play-icon {
  position:relative;
  bottom: 200px;
  left: 135px;
  fill: #1fdf64;
}

.play-icon:hover {
  fill: aqua;
}


span.track-card-title-span {
  unicode-bidi: isolate;
  -webkit-user-drag: element;
}

.card-deck * {
  pointer-events: none;
}

/*
                     #bg-img {
                       background-repeat: no-repeat;
                       background-size: cover;
                       background-clip: border-box;
                       background-position: center;
                     }
                     */

.favorite-icon:hover {
  color: whitesmoke;
}

.tippy-box[data-theme~="tomato"] {
  background-color: blue;
  color: yellow;
}
/* finally */
.tippy-box[data-theme~="tomato"][data-placement^="bottom"]
  > .tippy-arrow::before {
  color: blue;
}
