* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro,
    Meiryo, MS Gothic, sans-serif;
  background-color: rgb(31, 31, 31);
  overflow-x: hidden;
}

body {
  background: linear-gradient(to top right, rgb(21, 21, 21), rgb(34, 34, 34));
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif),
    sans-serif;
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothig: antialiased;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

body::-webkit-scrollbar {
  width: 0.8em;
  background-color: #1d1d1d;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(86, 86, 86);
  outline: 1px solid rgb(43, 43, 43);
}

.cardText {
  margin-top: -10%;
}

h1:target {
  padding-top: 50px;
}

.nav-rib {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.side-nav {
  background-color: rgb(0, 0, 0);
  margin-top: -4%;
  margin: 0;
}

.div-side-nav {
  height: 10000px;
  width: 220px;
}

.playlistTitle {
  text-align: center;
  margin-left: 200px;
  margin-top: 3%;
  padding-top: 5%;
}

.details {
  margin-top: 8%;
  margin-left: 0.1%;
  display: flex;
}

.track-bg {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-end;
  z-index: 0;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: end;
}

.track-title {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  word-break: break-word;
  overflow: hidden;
  text-align: left;
  color: #e6e3e3;
  width: 100%;
  line-height: normal;
  font-size: 6rem;
  display: grid;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: border-box;
  margin-block: 0px;
}

h1.track-title {
  unicode-bidi: isolate;
}

.track-card-title-span {
  overflow: hidden;
  text-align: left;
  word-break: break-word;
  line-height: normal;
}

span.track-card-title-span {
  unicode-bidi: isolate;
  -webkit-user-drag: element;
}

.card-deck * {
  pointer-events: none;
}

.categories-card {
  width: 198.88px;
  height: 198.88px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  filter: brightness(120%);
}

/*
                     #bg-img {
                       background-repeat: no-repeat;
                       background-size: cover;
                       background-clip: border-box;
                       background-position: center;
                     }
*/

.favorite-icon:hover {
  color: whitesmoke;
}

.hidden {
  display: none;
}

.playlist-title {
  color: white;
  position: relative;
  top: 27px;
}

.result-div {
  margin-top: 0px; /* problem might be here as well */
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(19 19 19);
  flex-direction: column;
  width: 100%;
  position: relative;
}

.result {
  margin-left: 190px; /* properties let the thing push upwards after a function */
  margin-top: 180px; /* think of making another div for playlists where u can append this */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  column-count: 8;
  column-gap: 2px; /* hamma gap shu yerda. both categories and playlists are siblings, they have the same parents*/
  row-gap: 25px;
  /* position: relative; */
}

.category-img {
  transform: rotate(25deg);
  position: relative;
  left: 117px;
  top: 50px;
  box-shadow: 0.8px 0.8px 0.8px 0.8px;
}

.category-title {
  box-sizing: border-box;
  margin-block: 0px;
  position: relative;
  top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: var(
    font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(fallback-fonts, sans-serif)
  );
  color: white;
}

.input-group {
  margin-left: 17.1%;
  flex-grow: 0%;
  flex-basis: 570px;
  margin-top: 3px;
}

.search-input {
  height: 40px;
  width: 380px;
  /*zooming issues*/
}

.search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  text-align: center;
}

.description {
  color: #b3b3b3;
  position: relative;
  top: 30px;
  font-size: 14px;
  font-weight: 500;
}

.playlists-card {
  background-color: #222223;
}

.playlists-card:hover {
  background-color: #272727;
}

.playlist-img {
  position: relative;
  left: 15px;
  top: 10px;
}

.tippy-box[data-theme~="tomato"] {
  background-color: blue;
  color: yellow;
}

.tippy-box[data-theme~="tomato"][data-placement^="bottom"]
  > .tippy-arrow::before {
  color: rgb(50, 6, 247);
}

span {
  font-size: 14px;
  color: #b3b3b3;
  display: flex;
}

a:hover span,
a:hover path {
  color: white;
  fill: white;
}

.card-text {
  overflow: hidden;
  position: relative;
  color: #b3b3b3;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  bottom: 20px;
}

.playlists-card:hover {
  background-color: rgb(34, 34, 34) !important;
}

.play-icon {
  position: relative;
  bottom: 160px;
  left: 130px;
}
